$dmsamsfont: "DM Sans", sans-serif;
$ptsansfont: "PT Sans", sans-serif;
$federofont: "Federo", sans-serif;
$decorfont: "Cinzel Decorative", serif;
$viadoraliblefont: "Viaoda Libre", cursive;
$italianafont: "Italiana", serif;
$decorfont: "Cinzel Decorative", cursive;
$color_black: #101417;
$color_black2: rgb(108, 105, 105);
$color_black3: rgba(51, 51, 51, 0.4);
$color_white: #f2f2f2;
$color_white2: #e0eff4;
$color_sky: #18b5a4;
$color_biruza: #1683a3;
$color_biruza2: #068bac;
$color_biruza3: #046d88;
$color_biruza4: #01617d;
$color_violet: #445162;
$color_violet2: #77608d;
$color_violet3: #5e5373;
$color_violet4: #3c354a;
$color_cherry: #830000;
$color_orange: #b23600;
$color_gold: #862900;
$color_gold2: #752300;
$color_brown: #794f45;
$color_yellow: #ece89d;
$color_white3: #f5f5f5;
$color_grey: #445162;
$mic: min-content;
$mac: max-content;
$fzhtml: 14px;
